extends layout

block content
  h2#work Work
  p I'm actively looking for a full-time position in London, here's 
    a(href='http://f.cl.ly/items/1F3w181A1p2b2L44293F/WalterCarvalho.pdf') my cv.
  p Ex:
    ul
      li Front-End Engineer Intern, 
          a(href='http://www.eysys.com', target='_blank') Eysys
          |.
      li Full-stack (part-time) Hacker, Mototrak.
  p Check out my 
    a(href='http://www.github.com/waltervascarvalho', target='_blank')
      i.ion-social-github
      |  github
    |  profile.
  h2#blog Written
  
  .blog
    p
      h4
        a(href=latest.post.url) #{latest.post.title}
      small.date  #{moment(moment(latest.post.date).format('DDMMYYYY'), "DDMMYYYY").fromNow()}
    != latest.summary
  each post in posts
    ul
      li
        h4
          a(href=post.url) #{post.title}
        small.date  #{moment(moment(post.date).format('DDMMYYYY'), "DDMMYYYY").fromNow()}
  
  h2#about About
  p Computer Science undergraduate. Pursuer of the full-stack hacker title. Absolutely always on 
    a(href='http://www.twitter.com/waltercfilho', target='_blank')
      i.ion-social-twitter
    |  and sometimes on 
    a(href='mailto:me@waltercarvalho.com')
      i.ion-ios7-email
    |.
  